#server type
server: apache
server-confg: ./test-env/server.cfg
#devices definitions
device:
    type: primary
    device: /dev/sda111
    mountpoint: /home/homedrop/db1

users: ./test-env/users.cfg
plugins:
    PrintPlugin: ./out/artifacts/plugin_jar/plugin.jar

log-file: ./test-env/homedrop.log
db: ./test-env/db.sql
db-driver: sqlite
